body {
    font-family: 'Open Sans', sans-serif;
    }
    
    .pynews-head {
    font-family: 'Roboto', sans-serif;
    }
    
    .contenedor {
    width: 70%;
    }
    
    aside {
    margin-top: 30px;
    margin-right: 20%;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    background: #ccc;
    float: right;
    }
    
    .main {
    align: center;
    width: 60%;
    }
